{% extends "base_generic.html" %}


{% block content %}


<div class="body">


    <div class="bloc">
        <h1>Добавить зерно</h1>
        <button onClick="location.href = '{% url 'wheat-create' %}';" type="button" id="but" class="buto">Добавить</button>
    </div>
    <div class="bloc">
    <h1>Сколько зерна пришло<br> сегодня:</h1>
    <button onClick="location.href = '{% url 'open-today' %}';" type="button" class="buto">Узнать</button>
    </div>
    <div class="bloc">
        <h1>Сколько зерна пришло <br> за неделю:</h1>
        <button onClick="location.href = '{% url 'open-week' %}';" type="button" class="buto">Узнать</button>
    </div>
    <div class="bloc">
        <h1>Сколько зерна пришло<br> за месяц:</h1>
        <button onClick="location.href = '{% url 'open-month' %}';" type="button" class="buto">Узнать</button>
    </div>
</div>


{% endblock %}